@model IEnumerable<EmprestimosModel>

<div class="Container">
    <div class="d-flex justify-content-between aling-items-center mb-5">
        <h1>Empréstimos</h1>
        <a class="btn btn-success mx-2" asp-controller="Emprestimo" asp-action="Cadastrar"> <i class="bi bi-file-earmark-plus"></i>  Cadastrar novo empréstimo</a>
    </div>
    <table class="table table-light table-hover mt-5">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Recebedor</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Livro</th>
                <th scope="col">Última Atualização</th>
                <th scope ="col">Ações</th>
            </tr>
        </thead>
        <tbody>

            @if(Model != null)
            {
                @foreach(var emprestimo in Model)
                {
                <tr>
                    <td>@emprestimo.Id</td>
                    <th scope="row">@emprestimo.Recebedor</th>
                    <td>@emprestimo.Fornecedor</td>
                    <td>@emprestimo.LivroEmprestado</td>
                    <td>@emprestimo.DataUltimaAtualizacao</td>
                    <td>
                            <a asp-controller="Emprestimo" asp-action="Editar" asp-route-id="@emprestimo.Id" class="btn btn-warning mx-2"><i class="bi bi-pencil-square"></i>  Editar</a>
                            <a asp-controller="Emprestimo" asp-action="Excluir" asp-route-id="@emprestimo.Id" class="btn btn-danger mx-2"> <i class="bi bi-trash3-fill"></i>  Excluir</a>
                        </td>
                </tr>
                }
            }

        </tbody>
    </table>
</div>